@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

header{
    display: inline;
}

body {
    font-family: 'EB Garamond', serif;
    background-color: #FFEB02;
    color: black;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #FFEB02;
    height: 80px;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

nav a {
    text-decoration: none;
    font-weight: bold;    
    font-size: 18px;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

.nav-menu {
    width: 20%;
}

.menu-bar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;  
}

.nav-right {
    display: flex; 
    align-items: center; 
    
    @media (min-width: 768px) { 
       order: 2; 
    }
}

.logo {
    width: 80px;
    display: inline-block;
}

button {
    font-family: 'EB Garamond', serif;
    font-weight: bold;    
    font-size: 18px;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

.nav-right li:first-child .dropdown {
    flex-direction: initial;
    min-width: 480px;
}

.nav-right li:first-child ul:nth-child(1) {
    border-right: var(--border);
}

.menu-bar .nav-profile {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: -0.6px;
    padding: 0.3rem;
    min-width: 60px;
    margin: 0 20px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 64px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.97) translateX(-5px);
    transition: 0.2s ease-in-out;
}

.dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(5px);
}

.dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.2rem;
    font-size: 0.95rem;
    overflow: hidden;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.15rem;
    padding: 12px;
}

.dropdown-link {
    display: flex;
    color: #FFEB02;
    font-weight: 300;
    gap: 0.5rem;
    border-radius: 7px;
    transition: 0.1s ease-in-out;
}

.dropdown-link p {
    font-size: 0.8rem;
    color: var(--medium-grey);
}

.hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

@media screen and (max-width: 985px) {
    .nav-menu {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
    .dropdown {
        min-width: 150px;
    }
    .nav-bar {
        padding-left: 5%;
        padding-right: 5%;
    }
    .nav-menu {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: black;
        transition: 0.5s;
        overflow: hidden;
    }
    .menu-bar {
        display: block;
        width: fit-content;
        margin: 24px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }
    .menu-bar li {
        margin-bottom: 24px;
    }
    .menu-bar li a {
        color: #FFEB02;
    }
    .nav-menu.opened {
        height: auto;
    }
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEF2CA;
    font-size: 36px;
    letter-spacing: 8px;
}

.menu-header h1 {
    padding: 0 300px;
}

.container {
    display: flex;
    margin-top: 40px;
    padding: 40px 84px;
    justify-content: center;
}

.filter-section {
    display: flex;
    flex-direction: column;
    margin: 0 70px;
}

.filter-menu {
    background-color: #FEF2CA;
    text-decoration: none;
    padding: 8px 70px;
    border-radius: 80px;
    border-width: 2px;
    border-color: black;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.filter-menu:hover {
    background-color: black;
    color: #FEF2CA;
}

.filter-menu.active{
    background-color: black;
    color: #FEF2CA;
}

.menu-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 0 70px;
}

.menu-grid .menu {
    position: relative;
    width: 230px;
}

.not-found-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-found-message h2 {
    text-align: center;
    font-weight: 500;
    font-style: italic;
}

.imgBox {
    position: relative;
}

.imgBox img {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 8px 0;
}   

.menu-name {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 3px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}

.menu-variety {
    font-style: italic;
    margin: 0;
    font-weight: 500;
}

.menu-name:hover {
    text-decoration: underline;
}

.price {
    font-weight: bold;
    letter-spacing: 1px;
}

.cart-group {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 25px;
    width: 100%;
    margin: auto;
}

.add-cart {
    background-color: #FEF2CA;
    text-decoration: none;
    padding: 8px 35px;
    border-radius: 80px;
    border-width: 2px;
    border-color: black;
    letter-spacing: 1px;
    font-size: medium;
    opacity: 0;
    transition: opacity 0.7s;
}

.imgBox:hover {
    .add-cart {
        opacity: 1;
    }
}

.add-cart:hover {
    background-color: black;
    color: #FFEB02;
}

.search-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEF2CA;
    margin-left: 324px;
    margin-right: 324px;
    border-radius: 80px;
}

.search-bar {
    border: none;
    width: 90%;
    height: 30px;
    padding: 20px 0;
    font-family: 'EB Garamond', serif;
    font-size: large;
    letter-spacing: 0.5px;
    background-color: #FEF2CA;
}

.search-bar:focus {
    border: none;
    outline: none;
}

.search-icon {
    display: flex;
    padding-right: 0 16px;
    align-items: center;
}